@font-face {
    font-family: title;
    src: url(../media/fonts/adineuePROKZ-Black.otf);
}
@font-face {
    font-family: text;
    src: url(../media/fonts/Century_Gothic/centurygothic.ttf);
}



/* 82238F 161868 */
body{
    font-family: text;
    background-image: linear-gradient(45deg, #82238F, #161868);
    color:white;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    padding: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

/* ------------------------------------------------icons------------------------------------------------------ */
.icons_cont{
    display: flex;
    margin-top: 30px;
    margin-left: 120px;
}
.icons_cont>a{
    margin: 5px;
}
.icons_cont>a>.vk {
    width: 30px;
    height: 31px;
    background-size: cover;
    background-image: url(../media/icons/vk.png);
}
.icons_cont>a>.vk:hover{
    background-image: url(../media/icons/vkact.png);
}
.icons_cont>a>.tg {
    width: 32px;
    height: 31px;
    background-size: cover;
    background-image: url(../media/icons/tg.png);
}
.icons_cont>a>.tg:hover{
    background-image: url(../media/icons/tgact.png);
}

.icons_cont>a>.pt {
    width: 31px;
    height: 31px;
    background-size: cover;
    background-image: url(../media/icons/pt.png);
}
.icons_cont>a>.pt:hover{
    background-image: url(../media/icons/ptact.png);
}

.vk_cont{
    width: 40px;
    height: 41px;
    background-size: cover;
    background-image: url(../media/icons/vk_cont.png);
}
.tg_cont{
    width: 42px;
    height: 42px;
    background-size: cover;
    background-image: url(../media/icons/tg_cont.png);
}
.pt_cont{
    width: 40px;
    height: 40px;
    background-size: cover;
    background-image: url(../media/icons/pt_cont.png);
}


h1, h2, h3{
    font-family: title;
    margin: 0;
}
img{
    width: 200px;
}
p{
    margin: 0;
}
nav>a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 24px;
    transform: scale(1);
    transition: all 1s;
}
nav>a:hover{ 
    transform: scale(1.2);
    transition: all 1s;
    border-bottom: 2px solid white;
}

header{
    padding: 10px 120px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.logo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}
.logo>img{
    width: 60px;
}

.logo>div>.title{
    margin: 0;
    font-family: title;
    font-size: 32px;
}

.logo>div>div{
    display: grid;
    grid-template-columns: 0.17fr 1fr;
    position: relative;
    top: -6px;
}

.main{
    display: grid;
    grid-template-columns: 0.8fr 0.5fr ;
    margin-left: 120px;
    justify-content: center;
    justify-items: center;
}
.main>div>div>h1{
    font-size: 45px;
}
.main>div>p:nth-child(1n){
    margin-left: 60px;
    color: rgb(197, 197, 197);
    line-height: 24px;
}

.photo>img{
    position: relative;
    right: -20px;
    width: 400px;
    border-radius: 300px;
    border: 5px solid white;

}




/* -----------------------------------------404------------------------------------ */
.main_404{
    display: grid;
    justify-content: center;
    justify-items: center;
}
.main_404>h2{
    margin: 0;
    font-size: 230px;
}
.main_404>p:nth-child(2){
    font-size: 30px;
    margin: 0;
}
.main_404>a{
    color: white;
    text-decoration: none;
    background: linear-gradient(45deg,#161868,#82238F);
    padding: 10px 30px;
    border-radius: 50px;
    transform: scale(1);
    transition: all 1s;
}
.main_404>a:hover{
    transition: all 1s;
    transform: scale(1.2);
    background: linear-gradient(45deg,#00024f,#4b0254);
}

/* ---------------------------------------------contacts--------------------------------------------- */



.main_contacts{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
    justify-items: center;

}
.main_contacts>div>h2{
    text-align: center;
}
.main_contacts>div>a>div{
    width: 400px;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    align-items: center;
    font-family: title;
    background-color: white;
    padding: 13px;
    color: #4b0254;
    border-radius: 100px;
}
.main_contacts>div>a{
    text-decoration: none;
}
.main_contacts>div>a>div>p{
    font-size: 25px;
    text-align: center;
}
.info{
    position: absolute;
    bottom: 40px;
    right: 20px;
}





@media screen  and (max-width: 2720px){
    header{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .logo{
        display: grid;
        grid-template-columns: 0.05fr 1fr;
    }
    .logo>div>div{
        display: grid;
        grid-template-columns: 0.08fr 1fr;
    }
}





@media screen and (max-width: 1920px) {
    header{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .logo{
        display: grid;
        grid-template-columns: 0.1fr 1fr;
    }
    .logo>div>div{
        display: grid;
        grid-template-columns: 0.17fr 1fr;
    }
    .info{
        position: absolute;
        bottom: 30px;
        right: 20px;
    }
}

@media screen and (max-width: 1280px) {
    header{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .logo{
        display: grid;
        grid-template-columns: 0.13fr 1fr;
    }
    .logo>div>div{
        display: grid;
        grid-template-columns: 0.25fr 1fr;
    }
}
@media screen and (max-width: 998px) {
    body{
        display: grid;
        justify-content: center;
        justify-items: center;
    }
    header{
        display: flex;
        flex-direction: column;
    }
    .logo{
        display: grid;
        grid-template-columns: 0.4fr 1fr;
        margin-bottom: 50px;
    }
    .logo>div>div{
        display: grid;
        grid-template-columns: 1.3fr 1fr;
    }
    .main{
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        justify-items: center;
    }
    .main>div:nth-child(1){
        margin-top: 20px;
        margin-left: 120px;
    }
    .icons_cont{
        margin-left: 20px;
    }
    nav>a{
        margin: 30px;
    }
    .photo{
        width: 100%;
        display: grid;
        justify-content: center;
        justify-items: center;
    }
    .photo>img{
        width: 300px;
    }
    .info{
        display: none;

    }
    .main_contacts{
        display: flex;
        flex-direction: column;
    }
    .main_contacts>div{
        margin-top: 20px;
    }
}